<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Teamisys</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/sendarticle">Send an Article</a>
        <a class="active" href="/aboutisys">About Us</a>
        <div class="topnav-right">
            <a href="/adminlogin">Admin</a>
        </div>
    </div>
    <h1>Team ISYS </h1>
</body>
</html>