<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <title>Teamisys</title>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/sendarticle">Send an Article</a>
            <a href="/aboutisys">About Us</a>
            <div class="topnav-right">
                <a href="/adminlogin">Admin</a>
            </div>
        </div>
        {% for i in data %}
          <h3>Name : {{ i.name }}</h3> 
          <h3>Usn : {{ i.usn }} </h3> 
          <h3>Email : {{ i.email }}</h3>
          <h3>Article : </h3>
          <p>{{ i.articledata }}</p>
            <hr/>
        {% endfor %}
        <div class="wpforms-form button">
           <button style="color: red;" onclick="document.location = '/deletedata'">Delete All Articles</button>
        </div>
    </body>
</html>